package {{ basePath .Config.Package }}

{{ range $skey, $svalue := .Model.Components.Schemas -}}
{{ if peq $svalue.Type "object" }}
type {{ ucFirst $skey }} struct {
{{- range $pkey, $pvalue := $svalue.Properties }}
    {{ ucFirst $pkey }} {{ type_go $pvalue -}} `json:"{{ $pkey }}" yaml:"{{ $pkey }}"`
{{ end }}
}
{{ end }}
{{ end }}