import { Server } from "socket.io";
import { instanceToPlain, plainToInstance } from 'class-transformer';
import { getConnection } from "typeorm";


{% for fn in fns %}
import { {{ fn.input | idType }} } from '$lib/model/{{ fn.input | idType }}.class'
import { {{ fn.output | idType }} } from '$lib/model/{{ fn.output | idType }}.class'
{%- endfor %}

{% for fn in fns %}
import { {{ fn.name | normalizeName }}Handler } from '$lib/handlers/{{ fn.name | normalizeName }}.handler'
{%- endfor %}

export function handleWs(io: Server) {
    io.on("connection", async (socket) => {
        console.log("WS connection");
        // const connection = await getConnection();
        const connection = null;

        {%- for fn in fns %}        
        socket.on('{{ fn.input | idType }}', async (args) => {
            console.log(`received {{ fn.input | idType }} ${args}`);
            const response = new {{ fn.output | idType }}()
            try {
                const inputJson = JSON.parse(args)
                const request = plainToInstance({{ fn.input | idType }}, inputJson);
                await {{ fn.name | normalizeName }}Handler(request, response, connection)
            } catch(error) {
                response.errors.push(`${error}`)
            }
            
            let outputJson = instanceToPlain(response)
            let raw = JSON.stringify(outputJson);
            console.log(`sending {{ fn.output | idType }} ${raw}`);
            io.emit('{{ fn.output | idType }}', raw)
        });
        {%- endfor %}
    });
}