import { registerSchema } from 'class-validator';
import { JsonObject, JsonProperty } from 'typescript-json-serializer';
{% for obj in objs %}
import { {{ obj | idType }} } from '../model/{{ obj | idType }}.class'
{%- endfor %}

const map: { [name:string]: Function } = {
    {%- for obj in objs %}
    {{ obj | idType }}: {{ obj | idType }},
    {%- endfor %} 
}