// Generated

module {{ .Schema.X_Bi_Go.Module.Name }}

go {{ .Schema.X_Bi_Go.Module.Version }}

{{ if .Schema.X_Bi_Go.Module.Requires -}}
require (
{{- range .Schema.X_Bi_Go.Module.Requires }}
    {{ .Package }} {{ .Version -}}
{{ end }}
)
{{ end -}}
