:root {
    line-height: 1.1;
    font-family: monospace;
    color: darkgrey;
}

code {
    color: darkred;
    background-color: lightgrey;
    padding-inline: 0.25rem;
}

h2,
h3,
h4,
h5 {
    margin-block: 0.55rem;
}

h3 {
    color: black;
}

h4 {
    color: black;
}

li {
    margin-block: 0.35rem;
}

p {
    margin-block: 0.35rem;
    color: darkgrey;
}
