package model

{{ if peq .Schema.Type "object" -}}
type {{ ucFirst .Name }} struct {
{{- range $pk, $pv := .Schema.Properties }}
    {{ ucFirst $pk }} {{ type_go $pv }} `json:"{{ $pk }}" yaml:"{{ $pk }}" xml:"{{ $pk }}"`
{{- end }}
}
{{ end -}}
