import { EntitySchema } from "typeorm";
import { {{ obj | idType }} } from "./{{ obj | idType }}.class";

export const {{ obj | idType }}Entity = new EntitySchema<{{ obj | idType }}>({
    name: '{{ obj | idType }}',
    columns: {
    {%- for name, prop in obj.properties %}
    {%- if not isRelation(prop) %}
        {{ name }}: {
            {% if prop.persistence.primary -%}primary: {{ prop.persistence.primary }},{%- endif %}
            type: '{{ prop.type }}',
            nullable: {% if isRequired(name) %}false{% else %}true{% endif %},
        },
    {%- endif %}
    {%- endfor %}
    },
    relations: {
    {%- for name, prop in obj.properties %}
    {%- if isRelation(prop) %}
        {{ name }}: {
            type: '{{ prop.persistence.relation }}',
            target: '{{ prop | idType }}',
        },
    {%- endif %}
    {%- endfor %}
    },
})