{{if .CurrNs -}}
package {{ .CurrNs | BASE | SNAKE }}

{{end -}}
{{if .HasValidation -}}
import (
	"net/url"
)

{{end -}}
{{if .Description -}}
// {{ .SchemaNs | BASE | PASCAL }} {{ .Description }}
{{end -}}
type {{ .SchemaNs | BASE | PASCAL }} string

func (t {{ .SchemaNs | BASE | PASCAL }}) Validate() error {
    if _, err := url.Parse(string(t)); err != nil {
		return err
	}

    return nil
}