{{if .CurrNs -}}
package {{ .CurrNs | BASE | SNAKE }}

{{end -}}
{{if .Validation -}}
import (
	"net/url"
)

{{end -}}
{{if .Description -}}
// {{.SchemaNs | BASE | PASCAL }} {{ .Description }}
{{end -}}
type {{.SchemaNs | BASE | PASCAL }} string

func (t {{.SchemaNs | BASE | PASCAL }}) Validate() error {
    if _, err := url.Parse(string(t)); err != nil {
		return err
	}

    return nil
}

{{ DUMP . }}